body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
h1 {
   margin: 50px auto 0 auto;
   font-size: 5.625rem;
   font-family: 'Sacramento', cursive;
   color: #66BFBF;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding: 10PX auto;
}
.top-container {
  background-color: #E4F9F5;
  padding: 100px 0;

}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
a {
  color: #11999E;
}
.subtitle {
  font-weight: normal;
}
.top-cloud {
  position: absolute;
  right: 25%;
  top: 30px;
}
.bottom-cloud {
  position: absolute;
  left: 10%;
  bottom: 300px;
}
.intro {
  padding-bottom: 10px;
}
.pro {
  text-decoration: underline;
}
.skill-row {
  width: 50%;
  text-align: left;
  margin: 50px auto;
  display: inline-block;
}
.design-pic {
  width: 40%;
  float: left;
  padding-right: 20px;
}
.ai {
  width: 25%;
  float: right;
  margin-left: 20px;
}
hr {
  height: 0;
  width: 5%;
  border-style:dotted none none;
  border-width: 5px;
  border-color: grey;
}
.bottom-container {
  background-color: #66BFBF;
  margin: 50px auto 0 auto;
  height: 150px;
}
.footer-link {
  text-decoration: none;
  color: #11999E;
  margin: auto 20px auto 20px ;
  position: relative;
  top: 40px;
}
.name {
  color: #EAF6F6;
  position: relative;
  top: 40px;
}
.BUTTON_DKI {
   background: #11CDDC;
   background-image: -webkit-linear-gradient(top, #11CDDC, #11999E);
   background-image: -moz-linear-gradient(top, #11CDDC, #11999E);
   background-image: -ms-linear-gradient(top, #11CDDC, #11999E);
   background-image: -o-linear-gradient(top, #11CDDC, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDDC, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 5px;
   -webkit-box-shadow: 1px 1px 10px 0 #000000;
   -moz-box-shadow: 1px 1px 10px 0 #000000;
   box-shadow: 1px 1px 10px 0 #000000;
   text-shadow: 1px 1px 10px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_DKI:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.contact-me p  {
  width: 40%;
  margin: 0 auto;
  padding-bottom: 10;
}
